.top{
    color: #99a9b5;
    background-color: #212331;
}
.container-fluid{
    padding: 10px;
}
a{
    color: #99a9b5;
    text-align: center;
    text-overflow: ellipsis;
    font-size:14px;
}

nav a{
    color: #3c3950;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-item:hover{
    color: #86bdb3 !important;
    font-weight: 500;
}

.active{
    color: #86BEB3FF !important;
    background-color: #f4f6f7;
    border-bottom: 2px solid #86BEB3FF;
}
.nav-item {
    margin-right: 1rem;
}
.navbar-nav{
    margin-top: 10px;
}
.logo{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

@media only screen and (max-width: 400px) {
    a{
        font-size:10px;
    }
    img {
        width: 180px;
    }
    nav a{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}