<!--background: url(https://www.irinatirado.com/nueva/slider/assets/SLIDER-07.jpg) right top/cover no-repeat;-->
<div class="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-5 text-right">
            <a href="#">
              <i class="fas fa-map-marker-alt"></i>
              Medellín,Colombia.
            </a>
          </div>
          <div class="col-5 text-center">
            <a href="#">
              <i class="fas fa-mobile-alt"></i>
              +57 300 270 8723
            </a>
          </div>
          <div class="col-2 text-center">
            <a href="#"><i class="fab fa-facebook-f m-1"></i></a>
            <a href="#"><i class="fab fa-instagram m-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar ml-auto navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
        <img src="assets/logo.png" alt="" width="270px">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>


      <div class="navbar-collapse collapse justify-content-end" id="navbarsExample05" style="">
        <ul class="navbar-nav">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Acerca de mi</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Testimonios</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Trabajemos juntas</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Contáctame</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>