<div class="container-fluid section1">
    <div class="row">
        <div class="col-md-6 c1_col1">
            <div class="c1">
                <h4 style="color:#3c3950;font-weight:300;">Irina Tirado Román</h4>
                <h2 style="color:#3c3950;padding-top: 2rem;">Acompañamiento Perinatal</h2>
                <p style="font-weight:400;color:#60717f;line-height: 30px;padding-top: 2rem;">Permítete vivir un proceso de transformación 100% on-line donde podrás gestionar tu limitado tiempo al momento en que continúes con tus múltiples ocupaciones y te prepares para el reto de ser mamá.</p>
                <p style="font-weight:400;color:#60717f;line-height: 30px;">En la seguridad y comodidad de tu hogar y/o oficina podrás prepararte durante la gestación para el nacimiento, lactancia, los primeros cuidados/necesidades de tu bebé y tuyas en el postparto, adquiriendo seguridad en las habilidades y prácticas que necesitas conocer para hacer las cosas bien desde el principio. Y sobre todo sin las dudas generadas a causa de los mitos infundidos por familiares y amigos que te llegarán a decir lo que “deberás” hacer una vez nazca tu bebé.</p>
            </div>
        </div>
        <div class="col-md-6 c1_col2">
            <img src="assets/h1.jpg" alt="" width="100%">
        </div>
    </div>
</div>

